<!DOCTYPE html>
<html>
<head>
  <title>Empty layout</title>
  <script>
    window.__cdnUrl = function() { return "{{ '' | asset_url }}" };
  </script>
</head>

<body>
  {{ content_for_layout }}

  <script src="{{ 'crowded-google-map.js' | asset_url }}"></script>
</body>
</html>